.header {
  height: 80px;
  user-select: none;
}
.header > .container {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.header a {
  color: #000;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
}
.header ul {
  display: flex;
  gap: 30px;
}
.header li {
  display: block;
}
.header-logo {
  font-size: 2.2rem;
  font-weight: 600;
}
.header-cta a {
  background: #333;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  padding: 15px 20px;
}
