.header {
  height: 80px;
  user-select: none;
}
.header > .container {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.header ul {
  display: flex;
  gap: 30px;
}
.header li {
  display: block;
}
.header-logo {
  color: #000;
  font-size: 2.2rem;
  font-weight: 600;
  text-decoration: none;
}
.header-nav a, .header-cta a {
  color: #000;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
}
.header-nav .active a {
  font-weight: 600;
}
.header-nav {
  order: 2;
  @media (min-width: 768px) {
    order: 0;
  }
}
.header-nav ul {
  display: none;
  z-index: 9999;
  @media (min-width: 768px) {
    display: flex;
  }
}
.header-nav-toggle {
  background: $svg-nav-open;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 9999;
  @media (min-width: 768px) {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-nav-on {
    .header-nav-toggle {
      background: $svg-nav-close;
    }
    ul {
      align-items: center;
      background: #fff;
      color: 000;
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
    }
  }
}
.header-cta {
  @media (max-width: 767px) {
    margin-left: auto;
  }
}
.header-cta a {
  background: #333;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  padding: 15px 20px;
}
