.main-content > * {
  height: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
  width: 100%;
  @media (min-width: 768px) {
    padding: 0 30px;
  }
}
.main-content > .alignfull {
  max-width: 100%;
}
.main-content > .alignwide {
  max-width: 1500px;
}
